
{% extends "network/layout.html" %}

{% block body %}



<div class="container">

    {% if followers_count != Null %}
        <div id="h3-posts" class="shadow-sm p-4 mb-2 bg-body rounded">
            <h2 id='profile_name'>{{username}}</h2>
            {% if user != username and user.is_authenticated %}
                {% if follows == True %}
                <form id="follow_btn">
                    <input type="submit" id="follow_request" class='btn btn-secondary' data-profile={{profile_user}} value='Unfollow'>
                </form>
                {% else %}
                <form id="follow_btn">
                    <input type="submit" id="follow_request" class='btn btn-success' data-profile={{profile_user}} value='Follow'>
                </form>
                {% endif %}
                <br>
            {% endif %}
        </div>
        
        <div class="follow_counts shadow-sm p-4 mb-2 bg-body rounded">
            <h4 class="username" style="display: none;">{{ username }}</h4><span>
                <h5 id='total_followers'>{{followers_count}} Followers</h5>
                <h5 id='total_following'>{{following_count}} Following</h5>
        </div>
    {% endif %}

<!-- 2nd Block: Post Entry/Follow-Unfllow/Sign in/on-->
    <!--
        Shows post text box if user is in main page or its own profile.
        Shows Follow/Unfollow if user is on someone else's profile.
        Shows Login/Register message if user is logged out. 
    -->
        {% if user.is_authenticated %}
            {% if user_id == username %}
            <div class="following shadow-sm p-3 mb-2 bg-body rounded">
                These are the users you are following:
                    {% for user_following in following %}
                        <a href = "{{ user_following }}">{{ user_following }}</a> 
                    {% endfor %}
            </div>
            {% endif %}
            {% if user == username or user_id == username %}
                <div id="h2-posts" class="shadow-sm p-5 mb-2 bg-body rounded">
                    <div class="fieldwrapper">
                        <form id="compose-post">
                            <textarea class="form-control-2 rounded" id="post-text" placeholder="What's on your mind, {{user.username}}?" minlength="2" required></textarea>
                            <input type="submit" class="send btn btn-primary" value="Send" data-user = {{username}}></input>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div id="h2-posts" class="shadow-sm p-5 mb-2 bg-body rounded">
                <div class="fieldwrapper">
                    <a class="" href="{% url 'register' %}">Sign Up</a> or <a class="nav-link" href="{% url 'login' %}">Log In</a> and join the fun!
                </div>
            </div>
        {% endif %}

    <div class="shadow-none bg">
        {% for post in posts %}
            <div class="alert alert-info post-{{post.id}} post">
                <a href = "{{ post.creator }}">{{ post.creator }}</a> posted on {{post.date}}
                <div class="post-content text-{{post.id}} shadow-none p-2 mb-1 bg-light rounded">{{ post.text_content }}</div>
                <br>
                <div class="my-buttons-wrapper">
                    <div class="my-buttons">
                        {% if user.is_authenticated %}
                                {% if post in liked_posts %}
                                    <!-- Formatting like button liked posts -->
                                    <div class="like" data-userid="{{ user.id }}">
                                        <form>
                                            {% csrf_token %}
                                            <button class="heart added btn btn-danger" type="button" id='heart-{{post.id}}' data-post-id = {{post.id}}>
                                                ♥ <span class="likes_number" id='num-{{post.id}}'>{{post.likes.count}}</span>
                                            </button>
                                        </form>
                                    </div>
                                {% else %}
                                    <!-- Formatting like button for non-linked posts-->
                                    <div class="like" data-userid="{{ user.id }}">
                                        <form>
                                            {% csrf_token %}
                                            <button class="heart btn btn-success" type="button" id='heart-{{post.id}}' data-post-id = {{post.id}}>
                                                ♡ <span class="likes_number" id='num-{{post.id}}'>{{post.likes.count}}</span>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            
                        {% else %}
                            <div>
                                <span class="heart btn btn-info" id='num-{{post.id}}'>♡ {{post.likes.count}}</span>
                            </div>
                        
                        {% endif %}
                            
                        <!-- edit button-->
                        {% if user == post.creator %}
                            <div class='edit_post-{{post.id}} edit_post' data-post-id = {{post.id}}>
                                <form>
                                    {% csrf_token %}
                                    <button class='btn btn-info' data-post_id = {{post.id}} type="button">
                                        </span>Edit</span>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- The following has been hidden via css to keep one single JS file.
        Avaluate if solution using JS-->
    <div class='hidden'>
        <div>
            {% if follows == True %}
            <form id="follow_btn">
                <input type="submit" class='btn btn-secondary' data-profile={{profile_user}} value='Unfollow'>
            </form>
            {% else %}
            <form id="follow_btn">
                <input type="submit" class='btn btn-success' data-profile={{profile_user}} value='Follow'>
            </form>
            {% endif %}
            <br>
        </div>
        <div>
            <form id="compose-post">
                <textarea class="form-control-2 rounded" id="post-text" placeholder="What's on your mind, {{user.username}}?" minlength="2" required></textarea>
                <input type="submit" class="send btn btn-primary" value="Send" data-user = {{username}}></input>
            </form> 
        </div>
    </div>

{% include "network/pagination.html" with page=posts %} 

</div>
{% endblock %}