textarea {
    min-height: 400px;
}

.email {
    background-color: none;
}

.container {
    margin-top: 5%;
}


.is_read {
    background-color: rgb(222, 223, 243);
    border-radius: 5px;
}

.new_email {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}



table, td {
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 10px 60px 10px 10px;
    width: 25%;
  }

td {
    border-color: rgb(91, 91, 255);
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-style: dotted;
}

td:first-child { border-top-left-radius: 10px; border-left-width: 1px;}
td:last-child { border-top-right-radius: 10px; border-right-width: 1px;}
td:first-child { border-bottom-left-radius: 0px; }
td:last-child { border-bottom-right-radius: 0px; }
  
table {
    border-collapse: separate;
    width: 100%;
}


#wrapper {
    width: 100%;
    overflow: hidden;
}
.email-buttons {
    width: 307px;
    float: left;
}
.archived {
    width: 0px;
    float: left;
}